<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Language.Lang }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
	{{- if .Site.Params.opengraph }}
		{{ template "_internal/opengraph.html" . }}
	{{- end }}
	{{- if .Site.Params.schema }}
		{{ template "_internal/schema.html" . }}
	{{- end }}
	{{- if .Site.Params.twitter_cards }}
		{{ template "_internal/twitter_cards.html" . }}
	{{- end }}
	{{ if .Site.Params.GoogleAnalyticsID }}
	{{ partialCached "analytics-gtag.html" . }}
	{{ end }}

	{{- $googleFontsLink := .Site.Params.googleFontsLink | default "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" }}
	{{- if hasPrefix $googleFontsLink "https://fonts.googleapis.com/" }}
<!--	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
<!--	<link rel="dns-prefetch" href="//fonts.googleapis.com"> -->
<!--	<link rel="dns-prefetch" href="//fonts.gstatic.com"> -->
<!--	<link rel="stylesheet" {{ printf `href="%s"` $googleFontsLink | safeHTMLAttr }}> -->

	{{- end }}
	<link rel="dns-prefetch" href="//www.google-analytics.com"> -->
	<link rel="preconnect" href="https://www.google-analytics.com" crossorigin> -->
	<link rel="preload" href="https://remark.blognot.co/web/last-comments.css" as="style">
	<link rel="stylesheet" href="/lite-youtube-embed/src/lite-yt-embed.css">
	<script src="/lite-youtube-embed/src/lite-yt-embed.js" defer></script>


	{{ $style := resources.Get "css/style.css" | resources.Minify | resources.ExecuteAsTemplate "css/style.css" . -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ range .Site.Params.customCSS -}}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{- end }}

	{{- with .OutputFormats.Get "rss" }}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
	{{- if not .Site.IsServer }}
		{{ template "_internal/google_analytics_async.html" . }}
	{{- end }}
</head>
<body class="body">
	<div class="container container--outer">
		{{ partialCached "header" . }}
		<div class="wrapper flex">
			<div class="primary">
			{{ block "main" . }}
				{{ with .Content }}
				<div class="content main__content clearfix">
					{{ . }}
				</div>
				{{ end }}
			{{ end }}
			</div>
			{{ partialCached "sidebar.html" . }}
		</div>
		{{ partialCached "footer" . }}
	</div>
<script async defer src="{{ "js/menu.js" | relURL }}"></script>
{{ range .Site.Params.customJS -}}
<script src="{{ . | relURL }}"></script>
{{- end }}
{{- partialCached "mathjax.html" . -}}
<script>
	var remark_config = {
	  host: "https://remark.blognot.co", 
	  site_id: 'remark',
	  components: ['embed', 'last-comments', 'counter'], 
	  url: {{ printf "%s%s" "https://blognot.co" .RelPermalink }}, 
	  locale: 'ru',
	  show_email_subscription: false,
	  no_footer: false
	};
  </script>
  <script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
</body>
</html>
